
<div class="media-block pad-all" style="margin-top: 20px;">
  <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar7.png"></a>
  <div class="media-body">
    <div class="mar-btm">
      <a href="#" class="btn-link text-semibold media-heading box-inline">@{{ blog.author.username}}</a>
      <p class="text-muted text-sm"><i class="fa fa-globe fa-lg"></i> - From web   {{blog.postDate |date:'MMM dd, YYYY'}}</p>
    </div>

    <hr>
    <p >{{blog.title}}</p>
    <img class="img-responsive thumbnail" src= "{{blog.imgURL}}" alt="Image">
    <p >{{blog.content}}</p>
    <!-- <a  [routerLink]="['/blogs/detail/',blog._id]" mdbBtn color="success" mdbWavesEffect>Read more</a> -->


    <div class="pad-ver">
      <span class="tag tag-sm"><i class="fa fa-heart text-danger"></i> 250 Likes</span>
      <div class="btn-group">
        <a class="btn btn-sm btn-default btn-hover-success" href="#"><i class="fa fa-thumbs-up"></i></a>
        <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i class="fa fa-thumbs-down"></i></a>
      </div>
      <!-- <a class="btn btn-sm btn-default btn-hover-primary" [routerLink]="['/blogs/detail/',blog._id]">Comment</a> -->
    </div>
    <hr>
  </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">   
    	<div class="row media-block-comments">
            <div class="col-sm-12">   
                <h3> Comments</h3>
              <div id="comms" *ngFor = "let comm of blog.comments">
                <!-- COMMENT 1 - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                    <div class="media-body">
                        <a href="#"><h5 class="media-heading">@{{comm.author.username}}</h5></a>
                        <p>{{comm.content}}</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>{{comm.postDate}}</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Like</a></li>
                            <li class=""><a href="">Reply</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT 1 - END -->
              </div>
              <form>
                <!-- <h5 class="pull-left">New Comment</h5> -->
                  <fieldset>
                      <div class="row">
                          <a href="#" class="btn-link text-semibold media-heading box-inline"> @{{ logged.username}}</a>
                          <div class="col-sm-3 col-lg-2 hidden-xs" id="add-comment-div">
                            <img class="img-responsive" id="add-comment-img" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                          </div>
                          <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                              <textarea [(ngModel)]="comm.content" class="form-control" id="message" placeholder="Write a comment.." [ngModelOptions]="{standalone: true}"></textarea>
                          </div>
                      </div>  	
                  </fieldset>
                  <button type="submit" class="btn btn-primary pull-right" (click)="commentbtn()">Submit</button>
              </form>
            </div>
        </div>
    </div>
</section>




