<!-- <div class="form-horizontal">


    <div class="form-group"> -->
        <!-- <label for="name" class="col-sm-3 control-label "> name</label>
        <div class="col-sm-4">
            <input [(ngModel)]="estudent.Name" type="text" class="form-control" id="name" placeholder="Input name">
        </div>
    </div> -->

    <!-- <div class="form-group">
        <label for="name" class="col-sm-3 control-label "> Username</label>
        <div class="col-sm-4">
            <input [(ngModel)]="loggedUser.username" type="text" class="form-control" id="user_name" placeholder="username">
         </div>
    </div>

    <div class="form-group">
        <label for="age" class="col-sm-3 control-label "> Password</label>
        <div class="col-sm-4">
            <input [(ngModel)]="loggedUser.password" type="password" class="form-control" id="pwd" placeholder="password">
         </div>
    </div>

    <div class="form-group" >
        <div class="col-sm-7 col-sm-offset-4">
            <button  class="btn btn-primary" (click)="login()" >Login</button>
        </div>
    </div>

</div> -->
<div class="wrapper">
	<div class="inner">
		
		<form action="" #log="ngForm">
            <h3>Login Form </h3>
            <div class="form-holder " >
                <img src="assets/images/image-3.png" alt="" class="image-1"  >
			</div>
           
			<div class="form-holder">
				<span class="lnr lnr-user"></span>
				<input [(ngModel)]="loggedUser.username" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Username" #username="ngModel" minlength="6">
                <p *ngIf="username.touched && username.errors?.required" >username is required</p>
				<p *ngIf="username.touched && username.errors?.minlength">minlength {{username.errors?.minlength.requiredLength}}</p>
            </div>
            
			<div class="form-holder">
				<span class="lnr lnr-lock"></span>
				<input [(ngModel)]="loggedUser.password" type="password" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Password" required #password="ngModel" ngModel pattern="[0-9]*">
                <p *ngIf="password.touched && password.errors?.required">password is required </p>
			</div>
			
			<button (click)="login()" >
				<span>Login</span>
			</button>
		</form>
		<img src="images/image-2.png" alt="" class="image-2">
	</div>
	
</div>

<!-- <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form> -->